<div class="card mb-5 mb-lg-0  m-4 ">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{ myData.title }}</h5>
      <h6 class="card-price text-center"><span class="price">${{myData.price}}</span><span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul list-unstyled">
        <li [ngClass]="{'textBold':myData.title=='PLUS' || myData.title=='PRO'}"> <span> &#10004;</span> {{myData.user}} </li>
        <li><span> &#10004;</span>{{myData.storage}} GB Storage</li>
        <li><span> &#10004;</span>Unlimited Public Projects</li>
        <li><span> &#10004;</span> Community Access</li>
        <li class="" [ngClass]="{'reject':myData.privateProjects==false}"><span *ngIf="myData.privateProjects==false">&#10006;</span>
          <span *ngIf="myData.privateProjects==true">&#10004;</span>
          Unlimited Private Projects</li>
          
        <li class="" [ngClass]="{'reject':myData.phoneSupport==false}"><span *ngIf="myData.phoneSupport==false">&#10006;</span>
          <span *ngIf="myData.phoneSupport==true">&#10004;</span>
          Dedicated Phone Support</li>
        <li class="" [ngClass]="{'reject':myData.freeSubdomain==false}"><span *ngIf="myData.phoneSupport==false">&#10006;</span>
          <span *ngIf="myData.phoneSupport==true">&#10004;</span>
          
        <span *ngIf="myData.title=='PRO'"> <b>Unlimited</b></span>  Free Subdomain
        </li>
        <li class="" [ngClass]="{'reject':myData.monthlyReport==false}">
          <span *ngIf="myData.monthlyReport==false">&#10006;</span>
          <span *ngIf="myData.monthlyReport==true">&#10004;</span>
          Monthly Status Reports</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>
